/* WP List Table CSS */
#cspf-table-search {
  margin-left: 0;
  margin-bottom: 3px;
  float: right;
}

div#table-actions {
  display:block;
  width:auto;
  float:left;
}

.supstr-extended {
  display: none;
}

.supstr-extended-info-title {
  font-weight: bold;
  font-size: 120%;
}

.supstr-extended-info-table {
  padding-top: 10px;
  padding-bottom: 10px;
}

.supstr-extended-info-label,
.supstr-extended-info-field {
  display: inline-block;
}

.supstr-extended-info-label {
  width: 100px;
  font-weight: bold;
}
